<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shannon.brightminds">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HomeActivity"
            android:label="     BrightMinds">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".QuizStart" android:label="     Quiz"/>
        <activity android:name=".QuizActivity" android:label="     Quiz Activity"/>
        <activity android:name=".QuizProgress" android:label="     Results"/>
        <activity android:name=".QuizResultActivity" android:label="     Results"/>

        <activity android:name=".GameStart" android:label="     Game"/>
        <activity android:name=".GameActivity" android:label="     Sequence Game"/>
        <activity android:name=".GameResultActivity" android:label="     Results"/>
        <activity android:name=".GameProgress" android:label="     Results"/>

        <activity android:name=".ProgressActivity" android:label="     Progress"/>

    </application>

</manifest>
